*{
    margin: 0;
    padding: 0;
    
}

header{
    display: flex;
    justify-content: center;
    background-color: rgb(134, 132, 132);
    flex-grow: 1;
    color: white;

}


body{
    background-color: white;
}


aside{
    display: flex;
    flex-direction: column;
    background-color: rgb(92, 92, 95);
    min-height: 100vh;
    width: 250px;
    color: white;


}

main{
    display: flex;
    flex-direction: column;
    background-color: rgb(92, 92, 95);
    min-height: 100vh;
    width: 250px;
    color: white;


}

main > section {
    display: flex;
    align-items: center;
    padding: 50px;
    border-radius: 20px;

}




footer{
     background-color: rgb(134, 132, 132);
     color: white;
}

