*{
    margin: 0;
    padding: 0;
    
}

header{
    display: flex;
    justify-content: center;
    ;
    background-color: rgb(134, 132, 132);
    flex-grow: 1;
    color: white;

}


body{
    display: flex;
    flex-direction: column;

    background-color: white;
}


aside{
    display: flex;
    flex-direction: column;
    background-color: rgb(92, 92, 95);
    min-height: 100vh;
    color: white;

}

aside > nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


main{ 
    display: flex;
    flex-direction: row;
    align-items: center;
   

}

main > article{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;

}




footer{
     background-color: rgb(134, 132, 132);
     color: white;
}

